@model IEnumerable<Clinic_System.Models.Atencion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaAtencion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAtencion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cita.IdCita)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAtencion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAtencion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAtencion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
