@model Clinic_System.Models.Paciente

@{
    ViewData["Title"] = "Read";
}

<h1 class="page-title">Detalle del Paciente</h1>

<div class="card">

    <div class="detail-row">
        <div class="detail-label">Nombre:</div>
        <div class="detail-value">@Model.Nombre</div>
    </div>

    <div class="detail-row">
        <div class="detail-label">Apellido:</div>
        <div class="detail-value">@Model.Apellido</div>
    </div>

    <div class="detail-row">
        <div class="detail-label">DNI:</div>
        <div class="detail-value">@Model.DNI</div>
    </div>

    <div class="detail-row">
        <div class="detail-label">Fecha Nacimiento:</div>
        <div class="detail-value">@Model.FechaNacimiento.ToString("dd/MM/yyyy")</div>
    </div>

    <div class="detail-row">
        <div class="detail-label">Correo:</div>
        <div class="detail-value">@Model.Correo</div>
    </div>

    <div class="detail-row">
        <div class="detail-label">Telefono:</div>
        <div class="detail-value">@Model.Telefono</div>
    </div>

    <br>

    <a asp-action="Edit" asp-route-id="@Model.IdPaciente" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>

</div>
